



/*General Rules for Elements*/

@font-face
{
font-family: 'Metropolis-SemiBold';
src: url('../fonts/Metropolis-SemiBold.otf');
}

@font-face
{
font-family: 'Metropolis-Black';
src: url('../fonts/Metropolis-Black.otf');
}

@font-face
{
font-family: 'Metropolis-RegularItalic';
src: url('../fonts/Metropolis-RegularItalic.otf');
}

@font-face
{
font-family: 'Avenir-Light';
src: url('../fonts/AvenirLTStd-Light.woff');
}

@font-face
{
font-family: 'Avenir-Medium';
src: url('../fonts/AvenirLTStd-Medium.woff');
}

@font-face
{
font-family: 'Avenir-Black';
src: url('../fonts/AvenirLTStd-Black.woff');
}


body
{
  font-family: 'Avenir', monospace, helvetica;
  background-color: #F7F7F7;
}

p
{
  color: #3f3f3f;
}

h1
{
  font-family: 'Avenir-Light', arial, sans-serif;
  color: #3f3f3f;
  text-transform: uppercase;
}

.line-separator
{
  margin-top: 60px;
  margin-bottom: 40px;
}




/*HEADER*/


#mainHeaderCon
{
  position: fixed;
  width: 100%;
  z-index: 50;
}

#mainHeader
{
  position: relative;
  background-color: #F7F7F7;
}

.headerTitle h1
{
    font-size: 21px;
    font-weight: lighter;
    float: right;
    margin-top: 15px;
}

.title-bar
{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F7F7F7;
}

.menu-icon::after
{
  background: #3f3f3f;
  box-shadow: 0 11px 0 #3f3f3f, 0 22px 0 #3f3f3f;
  border-radius: 10px;
  width: 160%;
  height: 40%;
}

.menu-icon:hover::after
{
  background: #b3212c;
  box-shadow: 0 11px 0 #b3212c, 0 22px 0 #b3212c;
}

#mainNav
{
  list-style-type: none;
  text-align: center;
  margin: 0;
  margin-top: 12px;
  font-family: 'Avenir-Light', cursive, Helvetica;
  font-weight: lighter;
  text-transform: uppercase;
}

#mainNav a
{
  display: block;
  padding: 5px 0 5px 0;
  color: #3f3f3f;
  text-decoration: none;
  font-size: 20px;
  background-color: #F7F7F7;
  text-align: center;
}

#mainNav li
{
  border-bottom: 1px solid #efefef;
}

#mainNav li:first-child
{
  border-top: 1px solid #efefef;
}

#mainNav li:last-child
{
  margin-bottom: 20px;
}

#mainNav li a:hover
{
  color: #b3212c;
}

#main-menu
{
  margin-left: 0;
  padding-left: 0px;
  padding-right: 0px;
}




/* Background Video */


.homeText h1
{
  font-family: 'Avenir-Medium';
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  z-index: 1;
  text-align: center;
  padding-top: 63%;
}

.homeText h2
{
  font-family: 'Avenir-Light';
  color: white;
  font-size: 10px;
  letter-spacing: 5px;
  z-index: 1;
  text-align: center;
  margin-top: -10px;
  text-transform: uppercase;
}

.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.socialMedia
{
  text-align: center;
  margin-top: 44%;
}

.socialMedia img
{
  max-width: 20px;
  margin: 5px;
}



/* ABOUT ME */


#about-me
{
  margin-top: 80%;
}

#about-me h1
{
  font-family: 'Avenir';
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  display: block;
}

#about-me h2
{
  font-family: 'Avenir';
  text-align: center;
  font-weight: lighter;
  font-size: 17px;
  margin-top: -10px;
  display: block;
}

#education-bars h3
{
  font-family: 'Metropolis-Black';
  font-size: 15px;
  color: #b3212c;
  margin-top: 10px;
}

#education-bars p
{
  font-family: 'Metropolis-RegularItalic';
  font-size: 15px;
  color: #3f3f3f;
  margin-top: -10px;
}

#program1
{
  display: block;
}

h3
{
  clear: both;
}

#program2
{
  display: block;
}

#program3
{
  display: block;
}

#skills h1
{
  font-size: 24px;
}

.mobile-hide
{
  display: none;
}

#unique-info
{
  margin-top: 20px;
}

#animate-plane
{
    width: 40%;
    display: block;
    position: relative;
    margin: 0 auto;  
}

#animate-instagram
{
    width: 40%;
    display: block;
    margin: 0 auto;
}

#animate-soccer
{
    width: 40%;
    display: block;
    margin: 0 auto;
}

.info-text
{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-text h1
{
  font-family: 'Metropolis-Black';
  font-size: 30px;
}

.info-text p
{
  font-family: 'Metropolis-Regular';
  font-size: 14px;
  margin-top: -15px;
}


.line-separator
{
height:1px;
border-bottom:1px solid #b5b5b5;
}




/* MY WORK */


#my-work
{
  text-align: center;
  margin-top: 20px;
}

#my-work h2
{
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #3f3f3f;
  margin-bottom: 10px;
  font-family: 'Avenir';
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

#my-work span
{
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Avenir';
  font-weight: bold;
  font-size: 24px;
  color: #3f3f3f;
}

.video-section 
{
  margin-left: 0px;
  margin-right: 0px;
}

.video p
{
  margin-top: 10px;
  color: #3f3f3f;
  font-size: 14px;
  font-weight: bold;
}

#lightbox
{
  position: absolute;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vid_container
{
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0; 
  right: 0;
  margin-left: auto; 
  margin-right: auto;
  background: rgb(0, 0, 0);
  position: fixed !important;
  /* top: 25% !important; */
  padding-top: 30px;
  z-index: 75;
}

.vid_elements
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.vid_elements > video
{
  width: 90%    !important;
  height: auto   !important;
}

.vid_elements > p
{
  margin-top: 10px;
  color: #F7F7F7;
  font-size: 14px;
  margin-left: 40px;
  margin-right: 40px;
}

#exit
{
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 12px;
  margin-top: 7px;
  cursor: pointer;
  font-family: 'Metropolis-SemiBold';
  color: #F7F7F7;
  font-size: 25px;
  z-index: 50;
}

/* CLIENTS */


#clients
{
  text-align: center;
  margin-top: 20px;
}

#clients h1
{
  margin-bottom: 10px;
  font-family: 'Avenir';
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

#clients ul
{
  margin: 0 auto;
}

#clientList li
{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

#clientList li a:hover
{
  color: #b3212c;
}

#clientList a
{
  color: #3f3f3f;
  text-decoration: none;
}




/* CONTACT */


.contact
{
	max-width: 450px;
	width: 100%;
	margin: 0 auto;
  position: relative;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea, #contact button[type="submit"]
{
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Avenir-Light';
}

#contact
{
  padding: 25px;
}

#contact h1
{
  display: block;
  font-family: 'Avenir';
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

#contact h4
{
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 15px;
	display: block;
	font-size: 13px;
}

fieldset
{
  border-width: medium;
  border-style: none !important;
	margin-bottom: 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea
{
	width: 100%;
	border: 1px solid #CCC;
	background: #FFF;
	margin-right: 5px;
  padding: 10px;
  font-size: 15px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact textarea:hover
{
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea
{
	height: 150px;
	max-width: 100%;
  resize: none;
}

button#contact-submit
{
	cursor: pointer;
	width: 50%;
  border: none;
  float: right;
	background:#FFFFFF;
	color:#B4B4B4;
  margin-right: 5px;
  padding-top: 10px;
  padding-bottom: 7px;
  font-size: 15px;
  text-transform: uppercase;
}

#contact button[type="submit"]:hover
{
	background: #f2f2f2;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}


@media screen and (min-width: 375px){

.socialMedia
{
  margin-top: 48%;
}

.socialMedia img
{
  max-width: 25px;
}


}

@media screen and (min-width: 400px){

.homeText h1
{
  font-size: 30px;
  padding-top: 50%;
}

.homeText h2
{
  font-size: 20px;
}

#about-me
{
  margin-top: 77%;
}

.socialMedia
{
  margin-top: 56%;
}

.socialMedia img
{
  max-width: 28px;
}

#about-me
{
  margin-top: 83%;
}

}

@media screen and (min-width: 640px){

  .homeText h1
  {
    font-size: 60px;
    padding-top: 23%;
  }
  
  .homeText h2
  {
    font-size: 40px;
  }
  
  .socialMedia
  {
    margin-top: 24%;
  }

  .socialMedia img
  {
    max-width: 25px;
  }
  
  #about-me
  {
    margin-top: 35%;
  }
  
  .mobile-hide
  {
    display: block;
  }
  
  #program1
  {
    display: inline;
  }
  
  #program2
  {
    display: inline;
  }
  
  #program3
  {
    display: inline;
  }
  
  #about-me h1
  {
    font-size: 28px;
    display: inline;
  }
  
  #about-me h2
  {
    font-size: 28px;
    margin-top: -10px;
    display: inline;
  }
  
  #education-title
  {
    text-align: center;
    margin-bottom: 10px;
  }
  
  #education-bars h3
  {
    font-family: 'Metropolis-Black';
    font-size: 15px;
    text-align: center;
    color: #b3212c;
  }
  
  #education-bars p
  {
    font-family: 'Metropolis-RegularItalic';
    font-size: 15px;
    color: #3f3f3f;
    margin-top: -10px;
    text-align: center;
  }
  
  #first-program, #second-program, #third-program
  {
    float: none;
  }
  
  #skills
  {
    margin-top: 10px;
  }
  
  #skills h1
  {
    font-size: 28px;
    display: block;
  }
  
  #unique-info
  {
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .info-icons h1, p
  {
    text-align: center;
  }
  
  
  #animate-plane
  {
      width: 90%;
  }
  
  
  #animate-instagram
  {
      width: 90%;
  }
  
  #animate-soccer
  {
      width: 90%;
  }
  
  .info-text
  {
  margin-top: -6px;
  margin-bottom: 10px;
  }
  
  .info-text h1
  {
  font-size: 23px;
  }
  
  .info-text p
  {
  font-size: 10px;
  margin-top: -10px;
  }
  
  .vid_elements > p
  {
    font-size: 16px;
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media screen and (min-width: 1024px){

  .headerTitle h1
  {
    font-size: 21px;
    font-weight: lighter;
    float: left;
    margin-top: 15px;
  }

  #mainNav
  {
    font-size: 1.9em;
    margin-top: 5px;
    float: right;
  }

  #mainNav a
  {
    display: inline;
    background-color: transparent;
    margin-left: 13px;
    color: #3f3f3f;
  }

  #mainNav li
  {
    display: inline;
    border: none;
  }

  #mainNav li:first-child
  {
    border: none;
  }

  #mainNav li a:hover
  {
    background-color: transparent;
    color: #b3212c;
  }

  .homeText h1
  {
    font-size: 70px;
    padding-top: 18%;
  }
  
  .homeText h2
  {
    font-size: 50px;
  }

  #about-me
  {
    margin-top: 23%;
  }

  .socialMedia
  {
    margin-top: 13%;
  }

  .socialMedia img
  {
    max-width: 30px;
  }

  #animate-plane
  {
      width: 80%;
  }
  
  
  #animate-instagram
  {
      width: 80%;
  }
  
  #animate-soccer
  {
      width: 80%;
  }

  .info-text
  {
  margin-top: -5px;
  margin-bottom: 10px;
  }
  
  .info-text h1
  {
  font-size: 23px;
  }
  
  .info-text p
  {
  font-size: 10px;
  margin-top: -10px;
  }

  .vid_elements > video
  {
    width: 80%    !important;
    height: auto   !important;
  }
  
  .vid_elements > p
  {
    font-size: 18px;
    margin-left: 140px;
    margin-right: 140px;
  }

  #exit
  {
    margin-right: 12px;
    margin-top: 7px;
    font-size: 20px;
    z-index: 50;
  }

  .bar-wrap
  {
    opacity: 0;
  }

  #education:hover > .programsCon > .programs > .bar-wrap
  {
    animation: bar-grow 2s ease-in-out;
    transform-origin: 0 0;
    opacity: 1;
  }

  .bar-wrap
  {
    transform-origin: 0 0;
  }

  @keyframes bar-grow
  {
    0% {
        transform:scaleX(0);
    }
    100% {
        transform:scaleX(1);
    }
  }

}

@media screen and (min-width: 1440px){

  .socialMedia
  {
    margin-top: 9%;
  }

  .socialMedia img
  {
    max-width: 40px;
  }

}