
html {
    font-size: 12px;
    min-height: 100%;
}
  
body {
    font-family: "metropolis", "Helvetica", sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}
  
#myContainer
{
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
}






#info-plane
{
    width: 10%;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}


#info-instagram
{
    width: 10%;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

#info-soccer
{
    width: 10%;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}